<div class="container">
    <div class="row">
    <div class="col-md-4">
        <div class="program-wrap">
        <img src="assets/image.jpg" alt="">
        <h1>Program 1</h1>
        <p>Strength and cardiovascular endurance, balance, agility and flexibility should be the goal of any well-roundedfitness program.but how do you go about developing these skills?
            the key is variety.
        </p>
        <button class="btn btn-danger btn-l ">Sign up</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="program-wrap">
        <img src="assets/jym1.jpg" alt="">
        <h1>Program 2</h1>
        <p>Strength and cardiovascular endurance, balance, agility and flexibility should be the goal of any well-roundedfitness program.but how do you go about developing these skills?
            the key is variety.
        </p>
        <button class="btn btn-danger btn-l ">Sign up</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="program-wrap">
        <img src="assets/gym.jpg" alt="">
        <h1>Program 3</h1>
        <p>Strength and cardiovascular endurance, balance, agility and flexibility should be the goal of any well-roundedfitness program.but how do you go about developing these skills?
            the key is variety.
        </p>
        <button class="btn btn-danger btn-l ">Sign up</button>
        </div>
    </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="program-wrap">
            <img src="assets/download.jpg" alt="">
            <h1>Program 4</h1>
            <p>Strength and cardiovascular endurance, balance, agility and flexibility should be the goal of any well-roundedfitness program.but how do you go about developing these skills?
                the key is variety.
            </p>
            <button class="btn btn-danger btn-l ">Sign up</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="program-wrap">
            <img src="assets/fitness.jpg" alt="">
            <h1>Program 5</h1>
            <p>Strength and cardiovascular endurance, balance, agility and flexibility should be the goal of any well-roundedfitness program.but how do you go about developing these skills?
                the key is variety.
            </p>
            <button class="btn btn-danger btn-l ">Sign up</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="program-wrap">
            <img src="assets/photo-1581009146145-b5ef050c2e1e.jpg" alt="">
            <h1>Program 6</h1>
            <p>Strength and cardiovascular endurance, balance, agility and flexibility should be the goal of any well-roundedfitness program.but how do you go about developing these skills?
                the key is variety.
            </p>
            <button class="btn btn-danger btn-l ">Sign up</button>
            </div>
    
        </div>
        
        </div>
</div>
