<div class="container">
<div class="sd_master_wrapper">	
	<div class="sdtestBg2"></div>
	<div class="sdtestBg3"></div>
	<div class="slideshow">
		<div class="content"> <!-- slide 1 -->
			<div class="thumbnail">
				<img src="assets/Ellipse 11.jpg"> 
			</div>
			<div class="btnNtxt"> 
				<div class="sdAllContent"> 
					<div class="sd_scroll">
					<h1 class="sdCustomSliderHeadig">M&D Realtors provided a proactive and effective team and service to sell these amazing townhouses. the team works hard , possesses high energy, steadfastness and were quite effective in etableshing a sales strategy.</h1> 
					</div>
					<p class="SdClientName">Austin Spencer</p>
					<p class="SdClientDesc">Louisville Kentucky</p>
				</div>
			</div>
		</div>
		
		
	</div>
</div>	
</div>

