<div class="container">
    
    <div class="row">
        <div class="col-md-6 ">
            <div class="heading-wrap">
            <h1>WELCOME TO</h1>
            <p>GYM HERO</p>
            <h2>CLUB</h2>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="content">
            <p>We believe fitnesss should be accessible to everyone.
                everywhere,regardless of income or access to a gym.with 
                hundreds of professional workouts, healthy recipes and informative articles, as well as one 
                of the most positive communities on the web. you will have everything
                you need to reach your personal fitness goals for free. 
            </p>
            <button class="btn btn-danger btn-l ">GET STARTED</button>
            </div>

        </div>
    </div>
</div>
